@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

:root {
    --bg-opacity: 0.8;
    --primary-bg: rgba(43, 44, 170, 1);
    --secondary-bg: rgb(240, 195, 0);
    --secondary-bg-hover: rgb(255, 209, 2);
    --border-radius: 3px;

    --secondary-text-color: #945911;
}
body {
    font-family: 'Bebas Neue';
    /* font-family: 'Lato'; */
}

/*   MAIN BLOC   */
.container {
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.main {
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.gameboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}
/*   HEADINGS   */
h1 {
    font-size: 2rem;
    font-weight: bold;
}
/*   NAV   */
.nav-link {
    flex-direction: row;
    display: inline-flex;
    padding: 5px 0;
}
.nav-link li {
    margin: 0 10px;
}

/*   KEYBOARD   */
.keyboard-container {
}
.keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2px;
    max-width: 500px;
}
.keyboard .key {
    width: 10%;
    background-color: var(--secondary-bg);
    margin: 1px;
    padding-block: 8px;
    color: var(--secondary-text-color);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}
.keyboard .key:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secondary-bg-hover);
}
.key.disabled,
.key.disabled:hover {
    background-color: #ccc;
    color: rgb(126, 124, 124);
    font-weight: normal;
}
/*  LETTERS   */
.letters-display {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem 0;
}
.letter-item {
    background-color: #fff;
    font-size: 3em;
    width: 40px;
    height: 80px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    border-radius: var(--border-radius);
    /* opacity: 0; */
    transition: opacity 0.75s;
}

.letter-effect {
    transform: rotate(0);
    opacity: 0;
    /* transform: scale(1); */

    transition: all 0.8s ease-in-out;
}
.letter-animate {
    transform: rotate(1turn);
    /* transform: scale(1.2); */
}

.letter-shake {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    opacity: 0;
    transform: scale(1);
    animation: shake 0.3s linear 0s 1 normal forwards;
}

.letter-shake-go {
    opacity: 1;
    transform: scale(1.4);
}

@keyframes shake {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
.show {
    opacity: 1;
}
/*   SCORE   */
.score-display {
    background-color: var(--secondary-bg);
    /* padding: 0.5em; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    /* font-size: 0.8rem; */
}

.score-bar {
    height: 10px;
    position: relative;
    width: 120px;
    background-color: #ffe086;
}
.score-bar .inside-bar {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: width 0.75s;
}
.score-message {
    /* transform: translateY(-10px); */
    opacity: 1;
    transition: transform 0.25s, opacity 0.25s;
}
.anime {
    /* transform: translateY(0); */
}
/*   BUTTONS   */
.btn {
    padding: 1rem;
    border-radius: 0.5em;
    border: none;
    font-size: inherit;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg);
}

.btn:hover {
    background-color: var(--secondary-bg-hover);
}

/* @media screen and (min-width: 768px) {
    .letter-item {
        width: 100px;
        height: 200px;
    }
}
@media screen and (min-width: 576px) {
    .letter-item {
        width: 100px;
        height: 130px;
        font-size: 5em;
    }
} */
